@charset "UTF-8";
* {
    padding: 0;
    margin: 0;
}
/* <uniquifier>: Use a unique and descriptive class name
    <weight>: Use a value from 200 to 900
.noto-serif-jp-<uniquifier> {
  font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}  */